<div class="container">
    <div class="row">
        <div class="col " style="padding-top: 10px; padding-bottom: 20px;">
            <div class="text-center" style="padding-bottom: 15px; padding-top: 15px;">
                <img [src]="info[0].user.profile_image_url" class="img-fluid" [alt]="info[0].user.profile_image_url" width="25%" height="25%">
            </div>


            <div class="card" style="width: 100%;">
                <div class="card-header">
                    <strong> Romer Timeline</strong>
                </div>

                <ul class="list-group list-group-flush">
                    <li *ngFor="let data of info, let i=index" class="list-group-item">
                        <div class="row">
                            <div class="col-md-2">
                                <img [src]="data.user.profile_image_url" class="img-fluid" [align]="data.user.name" width="100%" height="100%">
                            </div>
                            <div class="col">
                                <h6><strong>{{data.user.name}}</strong></h6>
                                <p>{{data.text}}</p>
                            </div>
                        </div>
                    </li>
                    <a [href]="this.url" class="card-link" style="padding-left: 10px; padding-bottom: 20px; padding-top: 20px; ">Go to my Account</a>
                </ul>

            </div>
        </div>

        <div class="col-md-5" style="padding-top: 60px;">
            <h3>Elon Musk</h3>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>My Work Experience</strong> </h5>
                    <hr>
                    <p class="card-text">
                        6+ years of professional developer, working mostly as front-end developer with JavaScript, HTML5, CSS, React/Redux, React Native, also with back-end background in Node.js, Express, SQL and NoSQL databases. Really passionate about the Javascript ecosystem
                        in general.My approach is always towards being the best coworker in any team I’m part of, improving both sides of my professional and personal self: problem solving and teamwork in order to be the best developer in the field.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>